<%= form_tag(:action => "send_password_reset") do %>
  <p>Please enter the email address that was used to register:</p>
  <%= label_tag 'Email Address' %>
  <input type="text" name="email" id="email">
  <%= submit_tag 'Send reset email', :class => 'button' %>
<% end %>