/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
/*ul { margin-left:30px; }*/
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; }
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { display:none; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.debug {border:red 1px solid;}

/* Primary Styles
   Author: Jim Wharton
*/

body {
  background: url(background.jpg) no-repeat #fbf8e0 fixed 50% -20px;
}

/* Main structure */
#container {
  position:relative;
  width: 874px;
  margin: 0 auto;
  margin-top:20px;
}

#header {
  background: url(header.jpg);
  width: 874px;
  height: 144px;
}

#barc-logo {
    position: relative;
    top: 80px;
    left: 62px;
}

/* menu structure */
#menu-holder {
  width:874px;
  height:27px;
  background:#c57400;

}

#menu {
  margin-left:58px;
}

#menu li {
  display:inline;
  list-style: none;
}

#menu li a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 15px;
  padding: 4px;
  text-decoration: none;
}
#menu li a:hover {
  background: #E2A142;
}
/* end menu structure */

#main {
  top:200px;
  min-height:400px;
  background: #fff;
  padding:12px;
}

#footer {
  position:absolute;
  background: url(footer.jpg) no-repeat;
  width: 874px;
  height: 144px;
}

#logos {
  float:right;
  margin-top:12px;
}
/* end Main structure */

/* map related */
#map-canvas {
  width:750px;
  height:550px;
  margin: 0 auto;
}

#gmap-instructions {
  padding:12px;
  background:#FBF8E0;
  margin: 4px 0px;
}
/* end map related */

/* form related styles */
fieldset {
  border: solid #ccc 1px;
  padding: 5px;
  margin-bottom:12px;
  background: #FBF8E0;
}

legend {
  font-size:14px;
  font-weight:bold;
}

label {
  display:inline-block;
  width:200px;
  text-align:right;

}
textarea, input {
  vertical-align:middle;
}
input {
  height:24px;
  width:180px;
}

textarea {
  height: 80px
}

div#incident-location {
  padding-left:205px;
  width:600px;
  overflow:hidden;
}

#latlng {
  position: relative;
  left: -207px;
  margin-top: 12px;
  width:2020px;
}

#decimal-inputs {
  float: left;
}

#upload-holder {
  float:left;
  margin-left:70px;
}

#upload-cancel {
  left: 1623px;
  position: absolute;
  top: 32px;
}

#choose-dms-holder {
  float:left;
}

#dms-inputs {
  float:left;
  margin-left:200px;
}

#dms-inputs label {
  width:300px;
}

#dms-inputs input {
  width:50px;
}

#dms-inputs button {
  width:100px;
}

fieldset#button-holder {
  padding:12px;
  background:#fbf8e0;
  margin-top:7px;
}

#button-holder .button {
  height:32px;
  float:right;
  margin-left: 3px;
}

#marker-coordinates {
  background:#FBF8E0;
  padding: 4px 0px;
}

#marker-coordinates label{
  width:95px;
}

/* end form related styles */

/* non structure related styles */
#requests, #users {
  width:100%;
}

#requests th, #users th {
  text-align: left;
  font-size:11px;
}

#requests td, #users td {
  padding:3px;
}

.odd {
  background: #C9EAC6;
}

#static-map {
  vertical-align:top;
  float: left;
}
#show-stats {
  margin-left:12px;
  float:left;
}
#location {

}
#select-holder {
  margin: 0 auto;
  width:750px;
  padding: 7px;
}

#login-form-holder {
  width:800px;
  margin-left:55px;
}

#login-form-holder form {
  margin-top:12px;
}

#login-form-holder label {
  width: 80px;
}

.instructions {
  width:750px;
  margin:0 auto;
  padding: 7px 0;
  background:#FBF8E0;
}

.button {
  height: 32px;
}

a.button {
  color:#fff;
}
#login-submit {
  margin:12px 0px;
  height:32px;
}

.ui-widget li {
  margin-left:22px;
}

.download_link {
  display:block;
  margin:7px;
  font-size:18px;
}
#footer p {
  color: #FFFFFF;
  float: left;
  margin-left: 24px;
  margin-top: 12px;
  width: 500px;
}
#footer p a {
  color:#fff;
}
/* end non structure related styles */
/*infowindo:*/
.infowindow {
  position:absolute;
  background: url(infowindow.png) no-repeat;
  width:492px;
  height:168px;
  padding-top:24px;
  padding-left:28px;
  top:193px;
  left:206px;
}
.infowindow h4 {
  font-size:16px;
}
.infowindow p {
  width:400px;
  margin-bottom:4px;
  font-size:12px;
}

#sorter {
  float:right;
}

table.tablesorter .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  border-top: 1px solid #FFF;
  padding-left: 30px;
  padding-top: 8px;
  height: auto;
}
table.tablesorter .headerSortUp {
  background-image: url(asc.gif);
  background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
  background-image: url(desc.gif);
  background-repeat: no-repeat;
}

div#filter label {
  width:69px;
}

div#filter input[type=submit] {
  width:80px;
}

/*end infowindow*/
/*
 * print styles
*/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }

}

